<div>
  <h1>Añade un producto</h1>
  <form action="{{action}}" method="POST">
    <p>Nombre : 
      <input type="text" name="name" value="{{producto.name}}">
    </p>
    <p>
      Code: 
      <input type="text" name="code" value="{{producto.code}}">
    </p>
    <p>
      PhotoURL:
      <input type="text" name="photoURL" value="{{prodcuto.value}}">
    </p>
    <p>
      Precio:
      <input type="text" name="precio" value="{{producto.precio}}">
    </p>
    <p>
      <input type="submit" value="guardarProducto">
    </p>
  </form>
</div>